@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  font-family: 'Prompt', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background: linear-gradient(180deg, #2e1e85, #641ec8, #2995c5 80%);
}

header {
    width: 100%;
    height: 80px;
    font-family: 'Prompt', sans-serif;
}
html {
    scroll-behavior: smooth;
}
   
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(218, 241, 7);
}

#about {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 20%;
}

#source_code {
    padding-bottom: 0%;
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    background:rgb(255, 200, 0);
    color:rgb(0, 0, 0);
    padding:1em 0;
    text-align:center;
    font-size:.8em;
    font-weight:700;
    font-family: 'Noto Sans Thai', sans-serif;  
}

.main{
    padding:1em;
    background:rgb(59, 26, 26);
    max-width:900px;
    margin:auto;
    font-size: 18px;
    margin-bottom:2em;
}

.icon {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    float: left;
    margin-left: 50px;
    margin-top: 20px; 
    text-decoration: none;
}

.big_text {
    font-family: 'Shizuru', cursive;
    font-size: 60px;
    position: relative;
    text-align: center;
    animation: duk-dik infinite;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.menu ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 2px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
    padding: 6px 15px;
}

.menu ul li a:hover {
    color: #3e097a;
    background-color: #fff;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: 880px; 
    justify-content: center;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #250946, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#moon, img#moonlight, img#stone-light {
    mix-blend-mode: screen;
}

#text {
    position: absolute;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 200px;
    font-weight: 900;
    margin-bottom: 40px;
}

.content {
    position: relative;
    height: 100%;
    background: #250946;
    font-family: 'Prompt', sans-serif;
    color: #fff;
    padding: 100px;
    padding-bottom: 0px;
}

.content h2 {
    font-size: 24px;
}

.content p {
    font-size: 20px;
    text-indent: 50px;
}
@keyframes duk-dik {
    0% {
        transform: rotate(-3deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(3deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(-3deg);
    }
}